body {
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}
.section {
    margin-bottom: 30px;
}
.desc {
    margin-top: 75px;
    margin-left: 75px;
    width: 500px;
}

a:link {
    color: blue;
}
a:visited {
    color: blue;
}
a:hover {
    color: red;
}